footer 
    ul.social
        li
            a(href="https://www.linkedin.com/in/chenyouz/", target='_blank' onclick="bga('footer/linkedin')")
                i.fab.fa-linkedin(aria-hidden='true')
        li
            a(href="https://medium.com/@chenyou", target='_blank' onclick="bga('footer/medium')")
                i.fab.fa-medium(aria-hidden='true')
        li
            a(href="https://dribbble.com/ChenYouu", target='_blank' onclick="bga('footer/dribbble')")
                i.fab.fa-dribbble(aria-hidden='true')
        li
            a(href="https://github.com/chenyouz", target='_blank' onclick="bga('footer/github')")
                i.fa.fa-github(aria-hidden='true')
        li
            a(href="https://www.instagram.com/chenyouz/", target='_blank' onclick="bga('footer/insta')")
                i.fab.fa-instagram(aria-hidden='true')
    p ©cyz 2020
    //- div.gotop
    //-     img(src="images/gotop.png", alt="")
script(type='text/javascript', src='js/ga.js')