doctype html
html(lang='en')
  include head.jade
  body  
    header.info
        a(href="index.html")
            img(src="images/logo.png", alt="")
    block KV
        section.work_KV
            div.title
                span
                h1 How to style cushions and throws.
                h2 讓青少年也能接受的毒品知識
                a.url(href='http://www.ctbcantidrug.org/', target='_blank') view site
    article
        span.article_hr
        block img_left
            div.img_left
                img(src="images/ctbc_antidrug/1.jpg", alt="")
                div
                    h5 建立中立的角色介紹毒品
                    p. “ちょっと背伸び”をキーワードに、デザイン・ディティールにこだわりを持っ
                        た遊び心溢れる個性的なアイテムを豊富に展開。トレンド要素を取り入れながら「個性」にフォーカスを当て、女の子が持つ「かっこよさ」「可愛さ」を表現するリアルクローズブランド。。トレンド要素を取り入れながら「個性」にフォーカスを当て、女の子が持つ「かっこよさ」「可愛さ」を表現するリアルクローズブランド。
        block img_one
            div.img_one
                img(src="images/ctbc_antidrug/2.jpg", alt="")
        block text
            div.text
                h5 暸解藥癮者需求，注重隱私
                p. “ちょっと背伸び”をキーワードに、デザイン・ディティールにこだわりを持った遊び心溢れる個性的なアイテムを 豊富に展開。
                    トレンド要素を取り入れながら「個性」にフォーカスを当て、女の子が持つ「かっこよさ」「可愛さ」を表現するリアルクローズブランド。
                    



