include ./jade/head.jade
div.KV  
    img(src="images/grapefruit.png", alt="")
    div.infobox
        div.info
            img(src="images/logo2.png", alt="")
            div
                a(href="tel:+886912810615" onclick="bga('關於/電話')")
                    i.fa.fa-phone(aria-hidden='true') 0912810615
                a(href="mailto:chenyouz@outlook.com" onclick="bga('關於/信箱')")
                    i.fa.fa-envelope(aria-hidden='true') chenyouz@outlook.com
                a(href="https://dribbble.com/ChenYouu", target='_blank' onclick="bga('首頁/Dribbble')")
                    i.fa.fa-dribbble(aria-hidden='true') Dribbble
                a(href="about.html",onclick="bga('首頁/about')")
                    i.fa.fa-arrow-right(aria-hidden='true') about me
section.work
    h1 ABOUT
    h2 關於
article.about
    div.img_left
        img(src="images/hi.jpg", alt="")
        div
            p 
                | Hi, 我是陳宥慈
                br
                | 2018.8 於 citiesocial 擔任 UI/UX designer
                br
                | 2017.1 於愛料理 iCook 擔任 visual & UI designer
                br
                | 2015.2 於口渴米菇互動多媒體擔任 web designer
                br
                | 2013.12 於人宇數位科技擔任 UI/UX designer
                br
                | 2013.6 畢業於國立東華大學藝術與設計學系
                br
                | 2012.6 於愛爾達科技視覺設計部實習
                br
                br
                | 因為名字的關係，大家都叫我「柚子」
    div.text
        h5 喜歡科技帶來的美好
        p
            | 習慣用google日曆記錄事情，手機及電腦裡有許多工具 App，覺得生活有這些數位工具真好。
            br
            | 認為設計不只是表面的樣貌，因為工作也接觸了很多客戶，暸解客戶及使用者的需求並一起解決討論如何解決。
            br
            | 總是想著「為什麼」，客戶為什麼不喜歡？為什麼沒人用？為什麼成效不好？使用者為什麼要這樣做？很多個為什麼所以使用者對數據很有興趣，覺得有點像是在情人身上裝追蹤器的感覺。
    div.text
        h5 Keep your curiosity alive.
        p
            | 對很多事情有興趣，喜歡動手做的感覺，寫寫看網頁、試試看埋 GA、試試看手作麵包，因為喜歡吃所以學著自己做料理。
    div.text
        h5 使用的工具
        h4 Mockup
        p
            | Photoshop, Illustrator, Sketch, Figma
        h4 Prototype
        p
            | Axure, invision, zeplin
        h4 Animation
        p
            | After Effects
        h4 Analytics
        p
            | GA, UTM, Hotjar
        h4 Code
        p
            | html/html5/jade, css/css3/sass, github, jQuery, Sublime Text
// SnapWidget
script(src='https://snapwidget.com/js/snapwidget.js')
include ./jade/footer.jade