include ./jade/head.jade
section.work_KV.chec_mom
    div.title
        span
        h1 讓Checiao 喜車幫您愛您的小老婆
        h2 Checiao 喜車 珍愛母親活動
        //- a.url(href='http://checiao.com.tw/', target='_blank' onclick="bga('checiao/外連')") view site
article
    span.article_hr
    div.img_two
        img.left(src="images/checiao_mom/1.jpg", alt="")
        img.right(src="images/checiao_mom/2.jpg", alt="")
    div.img_one
        img(src="images/checiao_mom/3.jpg", alt="")
    div.img_two
        img.left(src="images/checiao_mom/4.jpg", alt="")
        img.right(src="images/checiao_mom/5.jpg", alt="")
    span.article_hr
section.info
    //- a.url(href='http://checiao.com.tw/', target='_blank' onclick="bga('checiao/外連')") checiao.com.tw
    ul.name_list
        li
            span 客戶
            span.who Checiao 喜車
        li
            span 製作公司
            span.who 口渴米菇互動多媒體
        li
            span Logo設計
            span.who Ian
        li
            span 海報設計
            span.who 柚子
        li
            span 邀請卡設計
            span.who 柚子
include ./jade/footer.jade
