include ./jade/head.jade
section.work_KV.chec_card
    div.title
        span
        h1 Checiao喜車 特色 - 蒸氣
        h2 Checiao喜車 名片
        //- a.url(href='http://cyz.ninja/cookpower/', target='_blank' onclick="bga('紅神孅/外連')") view site
article
    span.article_hr
    div.img_one
        img(src="images/checiao_card/1.jpg", alt="")
    div.img_one
        img(src="images/checiao_card/2.jpg", alt="")
    span.article_hr
section.info
    //- a.url(href='http://cyz.ninja/cookpower/', target='_blank' onclick="bga('紅神孅/外連')") demo site
    ul.name_list
        li
            span 客戶
            span.who Checiao 喜車
        li
            span Logo設計
            span.who Ian
        li
            span 名片設計
            span.who 柚子
include ./jade/footer.jade