include ./jade/head.jade
section.work_KV.checiao
    div.title
        span
        h1 沒時間也可以讓車子乾淨的便利服務
        h2 Checiao 喜車
        a.url(href='http://checiao.com.tw/', target='_blank') view site
article
    span.article_hr
    div.color
        h5 Background colors
        ul
            li
                span.chec_bb1
                p #164361
            li
                span.chec_bb2
                p #f3f2e8
            li
                span.chec_bb3
                p #2fa4b1
        h5 Text colors
        ul
            li
                span.chec_tb1
                p #164361
            li
                span.chec_tb2
                p #2fa4b1
            li
                span.chec_tb3
                p #f8882b
    div.img_left
        img(src="images/checiao/1.jpg", alt="")
        div
            h5 獨特的蒸氣洗車，環保且更能清除髒汙
            p
                | Checiao 喜車為一項新興服務，到府洗車，有別於一般的一桶水洗車，以高速高溫蒸氣洗淨車子，省水且更能清除車子髒汙。
                br
                | 網站以Checiao的特點「蒸氣」為發想，以特點「輕柔」及「水氣」化為波浪線條及圓點。網站互動方式也以這方向製作，滑過散開水氣及水滴的散開。
                br
                | 配合整體形象呈現，與攝影師及服裝設計師討論客戶需求設計出Checiao 喜車的影片及工作服。
    div.img_one
        img(src="images/checiao/2.jpg", alt="")
    div.text
        h5 透明化流程，讓消費者安心
        p
            | 搜集資料市面上有的洗車方式，暸解消費者對於到府新興服務的疑慮及不暸解，透明化服務流程，讓消費者能增加信任感。
            | 依照客戶提供的資料並整理出特點顯示在網頁上，包含師傅們服務的細節、使用獨特的藥水及對待車子動作。
    div.img_two
        img.left(src="images/checiao/3.jpg", alt="")
        img.right(src="images/checiao/4.jpg", alt="")
    div.img_two
        img.left(src="images/checiao/5.jpg", alt="")
        img.right(src="images/checiao/6.jpg", alt="")
    div.img_one
        img(src="images/checiao/7.jpg", alt="")
    span.article_hr
section.info
    a.url(href='http://checiao.com.tw/', target='_blank') checiao.com.tw
    ul.name_list
        li
            span 客戶
            span.who Checiao 喜車
        li
            span 製作公司
            span.who 口渴米菇互動多媒體
        li
            span Logo設計
            span.who Ian
        li
            span 攝影
            span.who 大佑
        li
            span 工作服設計
            span.who RIN
        li
            span 網頁設計
            span.who 柚子
        li
            span 網頁程式
            span.who 小夫、阿嵐
include ./jade/footer.jade
