    include ./jade/head.jade
    section.work_KV.choice
        div.title
            span
            h1 How to style cushions and throws.
            h2 人生只有一次，沒有重來這件事
            //- a.url(href='http://www.ctbcantidrug.org/', target='_blank') view site
    article
        span.article_hr
        div.text
            h5 參考十位個案的真實人生故事
            p. “ちょっと背伸び”をキーワードに、デザイン・ディティールにこだわりを持った遊び心溢れる個性的なアイテムを豊富に展開。
                トレンド要素を取り入れながら「個性」にフォーカスを当て、女の子が持つ「かっこよさ」「可愛さ」を表現するリアルクローズブランド。
        div.img_one
            img(src="images/choice/1.jpg", alt="")
        div.text
            h5 遊戲化介面增加趣味性
            p. “ちょっと背伸び”をキーワードに、デザイン・ディティールにこだわりを持った遊び心溢れる個性的なアイテムを豊富に展開。
                トレンド要素を取り入れながら「個性」にフォーカスを当て、女の子が持つ「かっこよさ」「可愛さ」を表現するリアルクローズブランド。
        div.img_two
            img.left(src="images/choice/2.jpg", alt="")
            img.right(src="images/choice/3.jpg", alt="")
        div.img_two
            img.left(src="images/choice/4.jpg", alt="")
            img.right(src="images/choice/5.jpg", alt="")
        div.img_left
            img(src="images/choice/6.jpg", alt="")
            div
                h5 錄製孩童聲音描述夢想情境
                p. “ちょっと背伸び”をキーワードに、デザイン・ディティールにこだわりを持っ
                    た遊び心溢れる個性的なアイテムを豊富に展開。トレンド要素を取り入れながら「個性」にフォーカスを当て、女の子が持つ「かっこよさ」「可愛さ」を表現するリアルクローズブランド。
        div.text
            h5 掃描QRcode分享至社群媒體
            p. “ちょっと背伸び”をキーワードに、デザイン・ディティールにこだわりを持った遊び心溢れる個性的なアイテムを豊富に展開。
                トレンド要素を取り入れながら「個性」にフォーカスを当て、女の子が持つ「かっこよさ」「可愛さ」を表現するリアルクローズブランド。
        div.img_one
            img(src="images/choice/7.jpg", alt="")
        div.img_two
            img.left(src="images/choice/8.jpg", alt="")
            img.right(src="images/choice/9.jpg", alt="")
        span.article_hr
    section.info
        //- a.url(href='http://www.ctbcantidrug.org/', target='_blank') www.ctbcantidrug.org
        ul.name_list
            li
                span 客戶
                span.who 中國信託反毒教育基金會
            li
                span 製作公司
                span.who 口渴米菇互動多媒體
            li
                span 插畫
                span.who 米拉
            li
                span 網頁設計
                span.who 柚子
            li
                span 網頁程式
                span.who Casa
    include ./jade/footer.jade