include ./jade/head.jade
section.work_KV.choice.bottomfix
    div.title
        span
        h1 體驗藥癮者的人生，如果是你會怎麼做？
        h2 人生選擇互動裝置
        //- a.url(href='http://www.ctbcantidrug.org/', target='_blank') view site
article
    span.article_hr
    div.text
        h5 參考十位個案的真實人生故事
        p
            | 中國信託反毒教育基金會舉辦「識讀，不嗜讀」展覽，其中一向互動裝置為「人生選擇」，讓體驗者體驗藥癮者的人生。參考十位真實人生案例，把接觸毒品、成癮、戒毒、失敗等過程利用情境方式讓體驗者去思考，如果自己發生這樣的情況會如何，每一個問題的答案都會影像後續的問題，整個體驗沒有返回鍵，傳達人生只有一次，沒有重來的概念。
    div.img_one
        img(src="images/choice/1.jpg", alt="")
    div.text
        h5 遊戲化介面增加趣味性
        p
            | 人生問題選擇遊戲方式進行，每個角色有不同的人生任務，需過屬於那個角色的人生關卡，任務需要朝著任務前進，讓體驗者能以趣味的方式互動。
    div.img_two
        img.left(src="images/choice/2.jpg", alt="")
        img.right(src="images/choice/3.jpg", alt="")
    div.img_two
        img.left(src="images/choice/4.jpg", alt="")
        img.right(src="images/choice/5.jpg", alt="")
    div.img_left
        img(src="images/choice/6.jpg", alt="")
        div
            h5 錄製孩童聲音描述夢想情境
            p
                | 在每個角色公布人生任務的同時，背景會播放請小朋友錄製描述夢想的話，讓體驗者像想許下夢想的情境。
    div.text
        h5 掃描QRcode分享至社群媒體
        p
            | 結束體驗後可以掃描QRcode分享至社群媒體，針對不同體驗的角色，有不同的分享畫面。
    div.img_one
        img(src="images/choice/7.jpg", alt="")
    div.img_two
        img.left(src="images/choice/8.jpg", alt="")
        img.right(src="images/choice/9.jpg", alt="")
    span.article_hr
section.info
    //- a.url(href='http://www.ctbcantidrug.org/', target='_blank') www.ctbcantidrug.org
    ul.name_list
        li
            span 客戶
            span.who 中國信託反毒教育基金會
        li
            span 製作公司
            span.who 口渴米菇互動多媒體
        li
            span UI 設計
            span.who 柚子
        li
            span 遊戲流程
            span.who 柚子 Casa
        li
            span 網頁程式
            span.who Casa
include ./jade/footer.jade