include ./jade/head.jade
section.work_KV.CS_anniversary.bottomfix
    div.title
        span
        h1 7週年一起吃蛋糕
        h2 citiesocial 週年慶活動
article
    span.article_hr
    div.text
        h5 與行銷討論視覺方向
        p
            | 以生日慶祝方向為主視覺的方向，畫面上為維持 citiesocial 較冷靜的形象，不過度豐富活潑，顏色也選擇飽和度偏低一些。
    div.img_two
        img.left(src="images/CSAnniversary/1.jpg", alt="")
        img.right(src="images/CSAnniversary/2.jpg", alt="")
    div.img_one
        img(src="images/CSAnniversary/3.png", alt="")
    span.article_hr
section.info
    ul.name_list
        li
            span 產品服務
            span.who citiesocial
        li
            span 視覺設計
            span.who 柚子
        li
            span UI/UX
            span.who 柚子
        li
            span 行銷
            span.who Sunny
        li
            span 前端工程師
            span.who 舜舜
include ./jade/footer.jade
