include ./jade/head.jade
section.work_KV.CS_early
    div.title
        span
        h1 讓使用者體驗最新奇獨家的商品
        h2 citiesocial 早鳥首映會
article
    span.article_hr
    div.text
        h5 以 persona 和 storyboard 來思考使用的情境
        p
            | 利用原本的 persona 來設定使用者對於早鳥專案的需求的可能為何。
    div.img_one
        img(src="images/CSearly/3.jpg", alt="")
    div.img_one
        img(src="images/CSearly/4.jpg", alt="")
    div.img_one
        img(src="images/CSearly/1.jpg", alt="")
    div.img_one
        img(src="images/CSearly/2.jpg", alt="")
    div.text
        h5 EDM 規劃，在使用者心動的時候提醒他
        p
            | 第一階段規劃問券調查、上限通知、專案介紹。
    div.img_one
        img(src="images/CSearly/5.jpg", alt="")
    span.article_hr
section.info
    ul.name_list
        li
            span 產品服務
            span.who citiesocial
        li
            span UI/UX
            span.who 柚子
        li
            span 前端工程師
            span.who Bro
        li
            span 後端工程師
            span.who Jag
include ./jade/footer.jade
