include ./jade/head.jade
section.work_KV.CS_early.bottomfix
    div.title
        span
        h1 讓使用者體驗最新奇獨家的商品
        h2 citiesocial 早鳥首映會
article
    span.article_hr
    div.subtitle
        h2 專案資訊
    div.text
        h5 專案背景
        p
            | 商品募資的消費模式漸漸為台灣消費者所熟悉，並且很多廠商的商品也會利用募資的手法為商品做一個曝光平台。citiesocial 在消費者心中的印象多為販售新奇又獨特的商品，這樣的形式及產品對 citiesocial 使用者的消費經驗似乎也是適合的。
    div.text
        h5 挑戰與限制
        p
            | 整個早鳥專案的後續執行流程、其他部門的人力分配以及與採購部門實際上是否能確保商品的獨特，需要溝通協調以確保在短時間內上線。
    span.article_hr
    div.subtitle
        h2 前期研究
    div.text
        h5 使用者資訊
        p
            | 利用之前的問券及訪問的 persona 來思考 citiesocial 的使用者所會在意的部分。對於 citiesocial 的使用者價格不會是首要考量。並利用以上資訊來模擬可能的使用情境。
    div.img_one
        img(src="images/CSearly/3.jpg", alt="")
    div.img_one
        img(src="images/CSearly/4.jpg", alt="")
    div.text
        h5 現有募資平台分析
        p
            | 募資最主要為集眾人力量來支持商品，使用者對於商品的參與感比起一般的商品來得多，進度及一些數字的呈現就會是蠻重要的一個部分。
    div.text
        h5 暸解機會點
        p
            | 原本的 citiesocial 已有一群對新奇商品很感興趣的使用者，有別於其他募資平台也擁有自己的客服，也能替使用者把關商品。
    div.img_one
        img(src="images/CSearly/5.jpg", alt="")
    span.article_hr
    div.subtitle
        h2 資訊架構
    div.text
        h5 整理資訊並作出初版討論
        p
            | 整理需要呈現資訊並做出初版與各部門討論，也讓其他部門在釐清相關的需求及技術限制等。
    div.img_one
        img(src="images/CSearly/7.jpg", alt="")
    span.article_hr
    div.img_one
        img(src="images/CSearly/1.jpg", alt="")
    div.img_one
        img(src="images/CSearly/2.jpg", alt="")
    span.article_hr
    div.subtitle
        h2 通知信
    div.img_left
        img(src="images/CSearly/6.jpg", alt="")
        div
            h5 後續每個商品的流程
            p
                | 與客服、採購、行銷、討論實際流程，確認搭配專案的通知信，思考通知信的內容及需要的資訊。
    div.img_one
        img(src="images/CSearly/8.jpg", alt="")
    div.img_one
        img(src="images/CSearly/9.jpg", alt="")
    div.text
        h5 後續觀察
        p
            | 整個早鳥流程經過問券、收集使用者名單、發送通知的流程，在對有興趣的使用者開信率提升不少，轉換率也有提升。觀察 Hotjar 的使用上影片有蠻多人使用，也許可使用自動播放的方式。
    span.article_hr
section.info
    ul.name_list
        li
            span 產品服務
            span.who citiesocial
        li
            span PM
            span.who 柚子
        li
            span UI/UX
            span.who 柚子
        li
            span 前端工程師
            span.who Bro
        li
            span 後端工程師
            span.who Jag
include ./jade/footer.jade
