include ./jade/head.jade
section.work_KV.CS_early-edm
    div.title
        span
        h1 商品特色說明，數字刺激使用者購買慾望
        h2 早鳥首映會 EDM 版面規劃
article
    span.article_hr
    div.text
        h5 不同階段及用戶發送不同的通知信
        p
            | 針對三個時間點寄送通知信，商品開箱、上線前一小時、商品上線。同一個商品思考不同時間點及用戶所需的資訊呈現。
    div.img_one
        img(src="images/CSearly_edm/1.jpg", alt="")
    div.img_one
        img(src="images/CSearly_edm/2.jpg", alt="")
    span.article_hr
section.info
    ul.name_list
        li
            span 產品服務
            span.who citiesocial
        li
            span UI/UX
            span.who 柚子
include ./jade/footer.jade
