include ./jade/head.jade
section.work_KV.CS_hot.bottomfix
    div.title
        span
        h1 在同溫層裡瀏覽商品
        h2 citiesocial 主體式瀏覽
article
    span.article_hr
    div.text
        h5 發現使用者有興趣的主題，提供除了價格以外探索
        p
            | 從客服的回饋中發現，使用者在 citiesocial 對於價格不會是首要考量。針對 persona 及現有用戶思考可能所感興趣的主題。
    div.img_one
        img(src="images/CSHot/1.jpg", alt="")
    div.text
        h5 整理可能的主題，與採購討論分類
        p
            | 與採購討論實際上可能的商品分類，考量目前種類及維護的可能。
    div.img_one
        img(src="images/CSHot/2.jpg", alt="")
    div.img_one
        img(src="images/CSHot/3.jpg", alt="")
    div.text
        h5 內頁分不同區塊讓使用者可以快速找尋
        p
            | 區塊下滑時置頂，讓使用者可以切換不同分類。
    div.img_one
        img(src="images/CSHot/4.gif", alt="")
    div.text
        h5 後續發現
        p
            | 使用者對某些主題點擊特別高，之後可以針對有興趣的主題有所深入，也提供採購一些選品方向。
    div.img_one
        img(src="images/CSHot/5.jpg", alt="")
    span.article_hr
section.info
    ul.name_list
        li
            span 產品服務
            span.who citiesocial
        li
            span PM
            span.who 柚子
        li
            span UI/UX
            span.who 柚子
        li
            span 前端工程師
            span.who 舜舜
        li
            span App 工程師
            span.who Eason
        li
            span 後端工程師
            span.who Andy
include ./jade/footer.jade
