include ./jade/head.jade
section.work_KV.CS_member
    div.title
        span
        h1 分級制度提升會員黏著度
        h2 citiesocial 會員分級制度
article
    span.article_hr
    //- div.text.center
    //-     h5 問題：
    //-         ul
    //-             li
    //-                 | 1. 原本忠誠的使用者逐漸流失
    //-             li
    //-                 | 2. 行銷活動可以更加多元
    div.img_left
        img(src="images/CSMember/2.jpg", alt="")
        div
            h5 利用第三方服務達到會員制度及行銷操作
            p
                | 與技術、行銷確認需求及執行可行性，來回確認許多我們想要的資訊是否能夠得到。
                br
                br    
                | 需求端必須思考在現有平台及第三方的限制下是否能滿足我們對於會員分級制度的規劃
                br
                br
                | 對於資訊呈現上也需要考量哪些是使用者想要看到並有利於會員成長。
    div.text
        h5 不同平台的不同頁面架構
        p
            | 針對現有的會員平台新增及調整頁面資訊，並考量行銷需要推廣的招募需求。
    div.img_one
        img(src="images/CSMember/1.jpg", alt="")
    div.text
        h5 會員制度的流程規劃
        p
            | 因行銷操作需求，需考量如何在現有流程下引導會員進行手機驗證加入會員制度。
    div.img_one
        img(src="images/CSMember/3.jpg", alt="")
    div.img_one
        img(src="images/CSMember/7.jpg", alt="")
    div.img_one
        img(src="images/CSMember/4.jpg", alt="")
    div.img_one
        img(src="images/CSMember/5.jpg", alt="")
    div.text
        h5 會員招募
        p
            | 上線時曝光在其他平台的說明頁面，讓使用者暸解 citiesocial 會員制度的優惠及規則。
    div.img_one
        img(src="images/CSMember/6.jpg", alt="")
    span.article_hr
section.info
    ul.name_list
        li
            span 產品服務
            span.who citiesocial
        li
            span PM
            span.who 柚子
        li
            span 視覺設計
            span.who 柚子
        li
            span UI/UX
            span.who 柚子
        li
            span 行銷
            span.who Sunny, 委潤
        li
            span 前端工程師
            span.who 舜舜
        li
            span App 工程師
            span.who Beemo
        li
            span 後端工程師
            span.who Dick, Andy, Sameen
include ./jade/footer.jade
