doctype html
html(lang='en')
  include ./jade/head.jade
  body  
    header.info
        a(href="index.html")
            img(src="images/logo.png", alt="")
    section.work_KV
        div.title
            span
            h1 How to style cushions and throws.
            h2 讓青少年也能接受的毒品知識