include ./jade/head.jade
section.work_KV.ctbc.bottomfix
    div.title
        span
        h1 讓青少年也能接受的毒品知識
        h2 中國信託反毒教育基金會官網
        //- a.url(href='http://www.ctbcantidrug.org/', target='_blank' onclick="bga('反毒/外連')") view site
article
    span.article_hr
    div.img_left
        img(src="images/ctbc_antidrug/1.jpg", alt="")
        div
            h5 建立中立的角色介紹毒品
            p
                | 針對受眾(青少年、家長、藥癮者)分析各個族群所需要即能接受的。青少年階段最可能會因為「好奇」，而家長需要的是「理解」，理解青少年的心理，及他們的文化，藥癮者則是「多數的藥癮者不敢求助原因為「害怕」，對人的不信任。網站氛圍希望是中立的，不帶責罵，塑造的角色讓大眾容易接受。
    div.text
        h5 以青少年的角度說話
        p
            | 毒品的影響以青少年可能會在意的觀點去訴說，而非一再強調毒品的壞處。文字上也以輕鬆幽默呈現。
    div.img_one
        img(src="images/ctbc_antidrug/2.jpg", alt="")
    div.img_two
        img.left(src="images/ctbc_antidrug/6.jpg", alt="")
        img.right(src="images/ctbc_antidrug/7.jpg", alt="")
    div.img_one
        img(src="images/ctbc_antidrug/8.jpg", alt="")
    div.text
        h5 暸解藥癮者需求，注重隱私
        p
            | 訪問藥癮者，暸解到藥癮者的心理狀態。「不信任」、「害怕」及「沒自信」，家長也會為怕警察抓而不敢求助。協助頁面希望能讓這些族群安心，及轉介他們所需要的管道。
    div.img_two
        img.left(src="images/ctbc_antidrug/3.jpg", alt="")
        img.right(src="images/ctbc_antidrug/4.jpg", alt="")
    div.text
        h5 不同裝置的文章編排
        p
            | 針對客戶需求放新聞及活動，設計了文章編排方式，左圖右文、右圖左文、上圖下文、上文下圖等。
    div.img_one
        img(src="images/ctbc_antidrug/5.jpg", alt="")
    span.article_hr
section.info
    a.url(href='http://www.ctbcantidrug.org/', target='_blank' onclick="bga('反毒/外連')") www.ctbcantidrug.org
    ul.name_list
        li
            span 客戶
            span.who 中國信託反毒教育基金會
        li
            span 製作公司
            span.who 口渴米菇互動多媒體
        li
            span 插畫
            span.who 米拉
        li
            span 網頁設計
            span.who 柚子
        li
            span 網頁程式
            span.who Casa
include ./jade/footer.jade