include ./jade/head.jade
section.work_KV.eat.bottomfix
    div.title
        span
        h1 吃貨女子的小資新選擇
        h2 鍋寶抽獎活動
        //- a.url(href='http://cyz.ninja/cookpower/', target='_blank' onclick="bga('鍋寶/外連')") view site
article
    div.logotype
        h5 Logotype
        img(src="images/eat_girl/logo.png", alt="")
    div.color
        h5 Background colors
        ul
            li
                span.eat_bb1
                p #9d0505
            li
                span.eat_bb2
                p #fbdf00
            li
                span.eat_bb3
                p #fbf5df
            li
                span.eat_bb4
                p #ffffff
        h5 Text colors
        ul
            li
                span.eat_tb1
                p #440d0d
            li
                span.eat_tb2
                p #9d0505
    div.text
        h5 搭配蔬果、木材，整體健康活潑
        p
            | 由新立方社群所企劃的鍋寶吃貨女子抽獎活動，主要目的為宣傳鍋寶通過SGS合格證明，並搭配facebook留言抽獎。主視覺以強調健康清新為主，選擇以食材包圍，暗示能夠保留食材的原味。搭配吃貨女子設計的標準字，粗細對比稍微強烈，希望呈現逗趣感。主色以鍋寶的黃色搭配搶眼的紅色為主，再配上餐桌代表的木紋。
    div.img_one
        img(src="images/eat_girl/1.jpg", alt="")
    div.img_one
        img(src="images/eat_girl/2.jpg", alt="")
    div.img_one
        img(src="images/eat_girl/3.jpg", alt="")
    div.img_one
        img(src="images/eat_girl/4.jpg", alt="")
    span.article_hr
section.info
    a.url(href='http://cyz.ninja/cookpower/', target='_blank' onclick="bga('鍋寶/外連')") demo site
    ul.name_list
        li
            span 客戶
            span.who 新立方社群
        li
            span 製作公司
            span.who 口渴米菇互動多媒體
        li
            span 網頁設計
            span.who 柚子
        li
            span 網頁程式
            span.who 柚子、Casa
include ./jade/footer.jade