include ./jade/head.jade
section.work_KV.iCook_job
    div.title
        span
        h1 讓插圖營造公司活潑氛圍
        h2 愛料理校園徵才
article
    span.article_hr
    div.text
        h5 針對職缺及部門設計角色個性
        p
            | 搭配校園徵才，整體以大量插圖呈現，用圖像說明職缺及各部門特色。
    div.img_two
        img.left(src="images/iCookJob/3.jpg", alt="")
        img.right(src="images/iCookJob/4.jpg", alt="")
    div.img_two
        img.left(src="images/iCookJob/1.jpg", alt="")
        img.right(src="images/iCookJob/2.jpg", alt="")
    div.img_one
        img(src="images/iCookJob/5.jpg", alt="")
    div.img_one
        img(src="images/iCookJob/6.jpg", alt="")
    span.article_hr
section.info
    ul.name_list
        li
            span 產品服務
            span.who iCook 愛料理
        li
            span 視覺設計
            span.who 柚子
include ./jade/footer.jade
