include ./jade/head.jade
section.work_KV.iCook_award
    div.title
        span
        h1 挑選合適的飲食生活體驗
        h2 愛料理評鑑團識別
article
    span.article_hr
    div.text
        h5 評鑑飲食相關生活用品，以家為主要形象
        p
            | 料理，能夠餵飽家人的胃，而飲食用品，代表這家人飲食的生活體驗。以家的形象及代表著獎項的黃色呈現，屋簷的部分也能呈現向上的意向。
    div.img_one
        img(src="images/iCookAward/1.jpg", alt="")
    div.img_one
        img(src="images/iCookAward/2.jpg", alt="")
    div.img_one
        img(src="images/iCookAward/5.jpg", alt="")
    div.img_one
        img(src="images/iCookAward/3.jpg", alt="")
    div.img_one
        img(src="images/iCookAward/4.jpg", alt="")
    span.article_hr
section.info
    ul.name_list
        li
            span 產品服務
            span.who iCook 愛料理
        li
            span 識別設計
            span.who 柚子
include ./jade/footer.jade
