include ./jade/head.jade
section.work_KV.iCook_chatbot
    div.title
        span
        h1 擬人化角色的料理助手
        h2 愛料理聊天機器人視覺
article
    span.article_hr
    div.text
        h5 搭配文案設定角色
        p
            | 愛料理聊天機器人定位在生活中的料理小幫手，icon 及插圖會帶入一些情境，讓整體氛圍比較感性。
    div.img_two
        img.left(src="images/iCookChatbot/1.jpg", alt="")
        img.right(src="images/iCookChatbot/2.jpg", alt="")
    div.img_two
        img.left(src="images/iCookChatbot/3.jpg", alt="")
        img.right(src="images/iCookChatbot/4.jpg", alt="")
    span.article_hr
section.info
    ul.name_list
        li
            span 產品服務
            span.who iCook 愛料理
        li
            span 流程規劃
            span.who Judy
        li
            span 視覺設計
            span.who 柚子
        li
            span 文案
            span.who Emily
        li
            span 程式
            span.who Miguel
include ./jade/footer.jade
