include ./jade/head.jade
section.work_KV.iCook_scratch_of.bottomfix
    div.title
        span
        h1 搭配活動的趣味工具
        h2 愛料理刮刮卡頁面
article
    div.img_left
        img(src="images/iCookScratchOf/1.jpg", alt="")
        div
            h5 以趣味的方式讓使用者參與抽獎
            p
                | 以往的抽獎多由人工方式進行，使用者常常忘記抽獎時間，或是不信任抽獎制度。利用刮刮卡呈現的方式，讓使用者參加完活動馬上參與抽獎，並可以立即看見抽獎結果。
     div.text
         h5 符合產品 style guide 思考不同活動的變化
         p
             | 主要分成 2 大區塊：1.刮刮卡 2.活動辦法
             br
             | 第 1 區塊為此頁主要目的，呈現上參考實體刮刮卡，中間為可刮範圍，再以符合整體 UI 修改，讓使用者能夠直接知道要如何使用。
             br
             | 第 2 區塊目的告知使用者活動的注意事項，以及置入搭配的活動視覺，讓使用者再更明確知道參與的活動。
    div.img_two
        img.left(src="images/iCookScratchOf/2.jpg", alt="")
        img.right(src="images/iCookScratchOf/3.jpg", alt="")
    div.text
         h5 考量不同狀態需求的呈現
         p
             | 刮開的狀態：1.商品獎品 2. COUPON 3.活動結束 4.沒有中獎
             br
             | 針對不同的需求思考呈現資訊，以及如沒有結果會希望讓使用者進行的下一步。
    div.img_one
        img(src="images/iCookScratchOf/4.jpg", alt="")
    span.article_hr
section.info
    ul.name_list
        li
            span 產品服務
            span.who iCook 愛料理
        li
            span UI 設計
            span.who 柚子
        li
            span 前端
            span.who Wendy
include ./jade/footer.jade

