include ./jade/head.jade
section.work_KV.iCook_market_XMAS
    div.title
        span
        h1 聖誕老人的料理時光
        h2 愛料理市集 2017 聖誕系列活動視覺
article
    span.article_hr
    div.text
        h5 聖誕老人的三個主題
        p
            | 交換禮物、聖誕甜點、聖誕 Party
            br
            | 針對聖誕節常購物的原因區分市集商品，成立主題商品。
            | 視覺以相同元素，不同背景作為區分主題的不同。
    div.img_one
        img(src="images/iCookMarketXAMS/gift940x250.jpg", alt="")
    div.img_one
        img(src="images/iCookMarketXAMS/bake940x250.jpg", alt="")
    div.img_one
        img(src="images/iCookMarketXAMS/all940x250.jpg", alt="")
    div.img_one
        img(src="images/iCookMarketXAMS/coupon.jpg", alt="")
    span.article_hr
section.info
    ul.name_list
        li
            span 產品服務
            span.who iCook 愛料理
        li
            span 視覺設計
            span.who 柚子
        li
            span 行銷企劃
            span.who Adam
include ./jade/footer.jade
