include ./jade/head.jade
section.work_KV.iCook_template.bottomfix
    div.title
        span
        h1 統一版型讓視覺一致化
        h2 愛料理社群貼文版型設定 
article
    div.text
        h5 解決例行性發圖文需求，讓小編也能輕鬆上手
        p
            | 暸解小編發文需求，制定視覺一致的版型，使用每台都有的 keynote 製作，不需再額外下載軟體，減少小編發文的負擔。
            | 依據 LINE 貼文點擊規範製作，避免誤觸同時資訊呈現清楚，同時也能同步發到 facebook 上。
    div.text
        h5 上下兩篇
    div.img_two
        img.left(src="images/iCookTemplate/1.jpg", alt="")
        img.right(src="images/iCookTemplate/1-1.jpg", alt="")
    div.text
        h5 單篇
    div.img_two
        img.left(src="images/iCookTemplate/2.jpg", alt="")
        img.right(src="images/iCookTemplate/2-1.jpg", alt="")
    div.text
        h5 有即時性的三篇
    div.img_two
        img.left(src="images/iCookTemplate/3.jpg", alt="")
        img.right(src="images/iCookTemplate/3-1.jpg", alt="")
    div.text
        h5 有即時性的兩篇
    div.img_two
        img.left(src="images/iCookTemplate/4.jpg", alt="")
        img.right(src="images/iCookTemplate/4-1.jpg", alt="")
    div.text
        h5 文章為主的三篇
    div.img_two
        img.left(src="images/iCookTemplate/5.jpg", alt="")
        img.right(src="images/iCookTemplate/5-1.jpg", alt="")
    span.article_hr
section.info
    ul.name_list
        li
            span 產品服務
            span.who iCook 愛料理
        li
            span 設計
            span.who 柚子
include ./jade/footer.jade
