include ./jade/head.jade
section.work_KV.iCook_heiza.bottomfix
    div.title
        span
        h1 SUMMER!初夏酸甜好滋味
        h2 亨氏食譜跟著做活動視覺
article
    div.text
        h5 強調「小」的可愛
        p
            | 利用化妝品會出限量迷你尺寸發想，讓通常為贈品的迷你尺寸轉換角度，強調小巧可愛。
            br
            | 整體色調以番茄的相近色，粉橘色為主色。利用番茄的尺寸對比番茄醬的迷你。
            | 此產品為 VIP 限定，成功增加 VIP 的加入人數。
    div.img_one
        img(src="images/iCookHeinz/1.jpg", alt="")
    span.article_hr
section.info
    ul.name_list
        li
            span 客戶
            span.who 亨氏
        li
            span 產品服務
            span.who iCook 愛料理
        li
            span 視覺設計
            span.who 柚子
        li
            span 企畫
            span.who Yun
include ./jade/footer.jade
