include ./jade/head.jade
section.work_KV.iCook_VipApp.bottomfix
    div.title
        span
        h1 動態圖像化方式說明特點
        h2 愛料理 app VIP 介紹頁視覺
article
    div.text
        h5 針對文案特點繪製插圖，思考動態先後順序
        p
            | 四個插圖搭配文案希望有場景上的變換，所以繪製時增加前後景及水平面。
            br
            | 滑動離開的先後順序考量為是否為主要物件，越主要的物件越晚消失，後景會早於前景離開。
    div.img_two
        img.left(src="images/iCookVipApp/2.jpg", alt="")
        img.right(src="images/iCookVipApp/3.jpg", alt="")
    div.img_two
        img.left(src="images/iCookVipApp/1.gif", alt="")
        img.right(src="images/iCookVipApp/1.jpg", alt="")
    span.article_hr
section.info
    ul.name_list
        li
            span 產品服務
            span.who iCook 愛料理
        li
            span UI 設計
            span.who 小安
        li
            span 視覺設計
            span.who 柚子
        li
            span 文案
            span.who Emily
        li
            span iOS
            span.who 大頭
        li
            span Android
            span.who Mush
include ./jade/footer.jade
