include ./jade/head.jade
section.work_KV.iCook_weekmenu.bottomfix
    div.title
        span
        h1 過年來吧！我不怕-廚房新手必勝秘笈
        h2 愛料理一週菜單 2018 過年特別企劃
article
    div.text
        h5 一週菜單過年特輯社群宣傳說明
        p
            | 搭配一週菜單過年特輯，針對過年期間每一天的料理重點
            br
            | 以愛料理多數 TA 女性作為主角，用日曆的方式搭配每一天的情境插圖，讓使用者暸解當天的料理特色。
    div.img_one
        img(src="images/iCookWeekmenu/1.jpg", alt="")
    span.article_hr
section.info
    a.url(href='https://www.facebook.com/icooktw/posts/1592260714142384', target='_blank' onclick="bga('一週菜單過年特輯/外連')") demo site
    ul.name_list
        li
            span 產品服務
            span.who iCook 愛料理
        li
            span 設計
            span.who 柚子
        li
            span 企畫
            span.who Emily
include ./jade/footer.jade
