include ./jade/head.jade
section.work_KV.iCook_CNY.bottomfix
    div.title
        span
        h1 家的味道大不同-分享異國年菜
        h2 愛料理 2018 過年活動視覺
article
    span.article_hr
    div.logotype
        h5 Logotype
        img(src="images/iCookCNY/logo.png", alt="")
    div.text
        h5 同一時間，不同國家年菜
        p
            | 此次年菜食譜募集希望不只是台灣地區的年菜，在台灣有各地來的新住民、留學生、工作人士等，又或是海外華人，希望藉由這次的活動讓使用者分享各地不同的年菜。
            br
            | 視覺方向以同一時間，不同地點表達多國，圓桌子彼此連接，希望傳達一看就有華人過年的「團員」氛圍，藉此增加過年的感覺。
            br
            | 國家的選擇除了中間為大家熟知的台灣，兩邊是美國及日本，兩個國家的文化差異明顯，能在視覺上明顯看出是三個不同的國家，也更能呼應主標。
    div.img_one
        img(src="images/iCookCNY/1.jpg", alt="")
    span.article_hr
section.info
    ul.name_list
        li
            span 產品服務
            span.who iCook 愛料理
        li
            span 視覺設計
            span.who 柚子
        li
            span 企畫
            span.who Erin
include ./jade/footer.jade
