include ./jade/head.jade
section.work_KV.iCook_market11
    div.title
        span
        h1 天天下廚日
        h2 愛料理市集 2017 雙 11 活動
article
    div.logotype
        h5 Logotype
        img(src="images/iCookMarket11/logo.png", alt="")
        img(src="images/iCookMarket11/logo2.png", alt="")
    div.text
        h5 一年只有一次的週年慶
        p
            | 視覺上希望能呈現澎湃的感覺，搭配「天天下廚日」的主標，標準字的字重選擇以較有份量來呈現氣派，在尾端處理類似書法的感覺。
    div.img_one
        img(src="images/iCookMarket11/1.jpg", alt="")
    div.text
        h5 UI 搭配主視覺延伸
        p
            | 為搭配主視覺，UI 部分元件選擇稍微實體化的風格，加入了陰影、漸層等元素。
    div.img_one
        img(src="images/iCookMarket11/2.jpg", alt="")
    span.article_hr
section.info
    ul.name_list
        li
            span 產品服務
            span.who iCook 愛料理
        li
            span 企畫
            span.who 愛料理市集
        li
            span Wireframe
            span.who Itsuki
        li
            span UI 設計
            span.who 柚子
        li
            span 視覺設計
            span.who 柚子
        li
            span 前端
            span.who Wendy
include ./jade/footer.jade
