doctype html
html(lang='en')
  include ./jade/head.jade
  body  
    header
    div.KV  
    section.work
        h1 WORK
        h2 作品集
        ul.work_list
            li
                a(href="#"  target="blank")
                    img(src="images/index/index_work1.jpg", alt="中國信託教育基金會")
                    h3.title 中國信託教育基金會官網
                    span.date 2016.10
            li
                a(href="#"  target="blank")
                    img(src="images/index/index_work2.jpg", alt="人生選擇互動裝置")
                    h3.title 人生選擇互動裝置
                    span.date 2016.9
            li
                a(href="#"  target="blank")
                    img(src="images/index/index_work3.jpg", alt="雲端男友活動網站")
                    h3.title 雲端男友活動網站
                    span.date 2016.10
            li
                a(href="#"  target="blank")
                    img(src="images/index/index_work4.jpg", alt="雲端男友活動網站")
                    h3.title 雲端男友活動網站
                    span.date 2016.10
            li
                a(href="#"  target="blank")
                    img(src="images/index/index_work5.jpg", alt="雲端男友活動網站")
                    h3.title 雲端男友活動網站
                    span.date 2016.10

