include ./jade/head.jade
div.KV  
    img(src="images/grapefruit.png", alt="")
    div.infobox
        div.info
            img(src="images/logo2.png", alt="")
            div
                a(href="tel:+886912810615" onclick="bga('首頁/電話')")
                    i.fa.fa-phone(aria-hidden='true') 0912810615
                a(href="mailto:chenyuzu1221@gmail.com" onclick="bga('首頁/信箱')")
                    i.fa.fa-envelope(aria-hidden='true') chenyuzu1221@gmail.com
                a(href="https://dribbble.com/ChenYouu", target='_blank' onclick="bga('首頁/Dribbble')")
                    i.fa.fa-dribbble(aria-hidden='true') Dribbble
                a(href="about.html",onclick="bga('首頁/about')")
                    i.fa.fa-arrow-right(aria-hidden='true') about me
section.work
    h1 WORKS
    h2 作品
    ul.work_list
        //- li
        //-     a(href="CS_early.html" onclick="bga('首頁/CS early')")
        //-         img(src="images/index/index_work_CSEarly.jpg", alt="CS early")
        //-         h3.title citiesocial 早鳥首映會
        //-         span.date 2019.11
        li
            a(href="CS_design.html" onclick="bga('首頁/CS design')")
                img(src="images/index/index_work_CSdesign.jpg", alt="CS design")
                h3.title citiesocial design guide
                span.date 2019.9
        li
            a(href="CS_member.html" onclick="bga('首頁/CS member')")
                img(src="images/index/index_work_CSMember.jpg", alt="CS member")
                h3.title citiesocial 會員制度
                span.date 2019.8
        //- li
        //-     a(href="CS_anniversary.html" onclick="bga('首頁/CS anniversary')")
        //-         img(src="images/index/index_work_CSAnniversary.jpg", alt="CS anniversary")
        //-         h3.title citiesocial 活動頁版型設定
        //-         span.date 2018.11
        //- li
        //-     a(href="CS_anniversary.html" onclick="bga('首頁/CS anniversary')")
        //-         img(src="images/index/index_work_CSAnniversary.jpg", alt="CS anniversary")
        //-         h3.title citiesocial 週年慶活動
        //-         span.date 2018.10
        li
            a(href="iCook_chatbot.html" onclick="bga('首頁/iCook chatbot')")
                img(src="images/index/index_work_iCookChatbot.jpg", alt="iCook chatbot")
                h3.title 愛料理聊天機器人視覺
                span.date 2018.05
        li
            a(href="iCook_empty.html" onclick="bga('首頁/iCook 空狀態')")
                img(src="images/index/index_work_iCookempty.jpg", alt="iCook 空狀態")
                h3.title 愛料理 web/app 空狀態優化
                span.date 2018.05
        li
            a(href="iCook_template.html" onclick="bga('首頁/iCook line template')")
                img(src="images/index/index_work_iCookTemplate.jpg", alt="iCook line template")
                h3.title 愛料理社群貼文版型設定 
                span.date 2018.05
        li
            a(href="iCook_job.html" onclick="bga('首頁/iCook job')")
                img(src="images/index/index_work_iCookJob.jpg", alt="iCook job")
                h3.title 愛料理校園徵才
                span.date 2018.03
        li
            a(href="iCook_CNY.html" onclick="bga('首頁/iCook 過年活動視覺')")
                img(src="images/index/index_work_iCookCNY.jpg", alt="iCook 過年活動視覺")
                h3.title 愛料理 2018 過年活動視覺
                span.date 2018.01
        li
            a(href="iCook_weekmenu.html" onclick="bga('首頁/iCook 一週菜單 2018 過年特別企劃')")
                img(src="images/index/index_work_iCookWeekMenu.jpg", alt="iCook 一週菜單 2018 過年特別企劃")
                h3.title 愛料理一週菜單過年特別企劃
                span.date 2018.01
        li
            a(href="iCook_scratch_of.html" onclick="bga('首頁/iCook 刮刮卡頁面')")
                img(src="images/index/index_work_scratchOf.jpg", alt="iCook 刮刮卡頁面")
                h3.title 愛料理刮刮卡頁面
                span.date 2018.01
        li
            a(href="iCook_VIP_app.html" onclick="bga('首頁/iCook app VIP')")
                img(src="images/index/index_work_iCookVipApp.jpg", alt="iCook app VIP")
                h3.title 愛料理 app VIP 介紹頁視覺
                span.date 2017.12
        li
            a(href="iCook_market_XMAS.html" onclick="bga('首頁/iCook 市集聖誕節活動視覺')")
                img(src="images/index/index_work_iCookMarketXAMS.jpg", alt="iCook 市集聖誕節活動視覺")
                h3.title 愛料理市集 2017 聖誕節活動視覺
                span.date 2017.12
        li
            a(href="iCook_market_11.html" onclick="bga('首頁/iCook 雙 11')")
                img(src="images/index/index_work_iCookMarket11.jpg", alt="iCook 雙 11")
                h3.title 愛料理市集雙 11 活動網站
                span.date 2017.11
        li
            a(href="iCook_video.html" onclick="bga('首頁/iCook previw video')")
                img(src="images/index/index_work_iCookVideo.jpg", alt="iCook previw video")
                h3.title 愛料理 app 介紹影片
                span.date 2017.10
        li
            a(href="iCook_award.html" onclick="bga('首頁/iCook 評鑑團')")
                img(src="images/index/index_work_iCookAward.jpg", alt="iCook 評鑑團")
                h3.title 愛料理評鑑團識別
                span.date 2017.07
        //- li
        //-     a(href="iCook_heinz.html" onclick="bga('首頁/iCook 亨氏跟著做活動')")
        //-         img(src="images/index/index_work_iCookHeinz.jpg", alt="iCook 亨氏跟著做活動")
        //-         h3.title 亨氏跟著做活動視覺
        //-         span.date 2017.05
        li
            a(href="iCook_vipX.html" onclick="bga('首頁/iCook 聯名番茄醬')")
                img(src="images/index/index_work10.jpg", alt="iCook 聯名番茄醬視覺")
                h3.title 愛料理聯名番茄醬視覺
                span.date 2017.02
        li
            a(href="ctbc_antidrug.html" onclick="bga('首頁/反毒')")
                img(src="images/index/index_work1.jpg", alt="中國信託反毒教育基金會官網")
                h3.title 中國信託反毒教育基金會官網
                span.date 2016.10
        li
            a(href="owlpass.html" onclick="bga('首頁/owlpass')")
                img(src="images/index/index_work3.jpg", alt="owlpass雲端男友活動網站")
                h3.title owlpass 雲端男友活動網站
                span.date 2016.10
        li
            a(href="choice.html" onclick="bga('首頁/人生選擇')")
                img(src="images/index/index_work2.jpg", alt="人生選擇互動裝置")
                h3.title 人生選擇互動裝置
                span.date 2016.9
        li
            a(href="eat_gitrl.html" onclick="bga('首頁/鍋寶')")
                img(src="images/index/index_work4.jpg", alt="鍋寶吃貨女子活動網站")
                h3.title 鍋寶吃貨女子活動網站
                span.date 2016.7
        //- li
        //-     a(href="checiao_card.html" onclick="bga('首頁/Checiao喜車 名片')")
        //-         img(src="images/index/index_work8.jpg", alt="Checiao喜車 名片")
        //-         h3.title Checiao 喜車 名片
        //-         span.date 2016.7
        li
            a(href="checiao.html" onclick="bga('首頁/checiao')")
                img(src="images/index/index_work5.jpg", alt="Checiao喜車官網")
                h3.title Checiao 喜車官網
                span.date 2016.3
        //- li
        //-     a(href="try_go.html" onclick="bga('首頁/try&go')")
        //-         img(src="images/index/index_work6.jpg", alt="Try&Go襪子")
        //-         h3.title TRY&GO 襪子
        //-         span.date 2013.5


include ./jade/footer.jade
