- var header = true
doctype html
html(lang='en')
    include ./jade/head.jade
    div.KV  
        img(src="images/grapefruit.png", alt="")
        div.infobox
            div.info
                img(src="images/logo2.png", alt="")
                div
                    a(href="tel:+886912810615")
                        i.fa.fa-phone(aria-hidden='true') 0912810615
                    a(href="mailto:chenyouz@outlook.com")
                        i.fa.fa-envelope(aria-hidden='true') chenyouz@outlook.com
                    a(href="http://www.cyz.ninja/")
                        i.fa.fa-link(aria-hidden='true') cyz.ninja
    section.work
        h1 WORK
        h2 作品集
        ul.work_list
            li
                a(href="ctbc_antidrug.html")
                    img(src="images/index/index_work1.jpg", alt="中國信託教育基金會")
                    h3.title 中國信託教育基金會官網
                    span.date 2016.10
            li
                a(href="choice.html")
                    img(src="images/index/index_work2.jpg", alt="人生選擇互動裝置")
                    h3.title 人生選擇互動裝置
                    span.date 2016.9
            li
                a(href="owlpass.html")
                    img(src="images/index/index_work3.jpg", alt="owlpass雲端男友活動網站")
                    h3.title owlpass雲端男友活動網站
                    span.date 2016.10
            li
                a(href="eat_gitrl.html")
                    img(src="images/index/index_work4.jpg", alt="鍋寶吃貨女子活動網站")
                    h3.title 鍋寶吃貨女子活動網站
                    span.date 2016.10
            li
                a(href="checiao.html")
                    img(src="images/index/index_work5.jpg", alt="Checiao喜車官網")
                    h3.title Checiao喜車官網
                    span.date 2016.3
            li
                a(href="try_go.html")
                    img(src="images/index/index_work6.jpg", alt="Try&Go襪子")
                    h3.title Try&Go襪子
                    span.date 2013.5
    span.index_hr
    section.life
        h1 LIFE
        h2 生活
        iframe.snapwidget-widget(src='https://snapwidget.com/embed/code/215695', allowtransparency='true', frameborder='0', scrolling='no', style='border:none; overflow:hidden; width:100%; ')


    // SnapWidget
    script(src='https://snapwidget.com/js/snapwidget.js')
    include ./jade/footer.jade
