include ./jade/head.jade
section.work_KV.owlpass
    div.title
        span
        h1 強力徵求地表最強暖男
        h2 owlpass雲端男友票選活動
        a.url(href='http://cuescoial.myowlpass.com/index.html', target='_blank' onclick="bga('owlpass/外連')") view site
article
    span.article_hr
    div.logotype
        img(src="images/owlpass/logo.png", alt="")
    div.color
        h5 Background colors
        ul
            li
                span.owl_bb1
                p #eeeeee
            li
                span.owl_bb2
                p #00a9be
            li
                span.owl_bb3
                p #474747
            li
                span.owl_bb4
                p #ffffff
        h5 Text colors
        ul
            li
                span.owl_tb1
                p #343434
            li
                span.owl_tb2
                p #9d0505
    div.text
        h5 俐落線條強調男性幹練
        p
            | 雲端男友為owlpass美淘請新力方社群所企劃的雲端男友徵選活動，搭配劉以豪為代言人進行宣傳。配合活動主題設計的標準字以斜體、轉角沒有弧度呈現男性俐落感，整體網站搭配主視覺的斜線出現在背景。配色依照owlpass美淘標準色藍綠色搭配對比強烈的黃色，比較年輕活潑。
    div.img_two
        img.left(src="images/owlpass/1.jpg", alt="")
        img.right(src="images/owlpass/2.jpg", alt="")
    div.img_two
        img.left(src="images/owlpass/3.jpg", alt="")
        img.right(src="images/owlpass/4.jpg", alt="")
    div.img_one
        img(src="images/owlpass/5.jpg", alt="")
    span.article_hr
section.info
    a.url(href='http://cuescoial.myowlpass.com/index.html', target='_blank' onclick="bga('owlpass/外連')") cuescoial.myowlpass.com
    ul.name_list
        li
            span 客戶
            span.who 新立方社群
        li
            span 製作公司
            span.who 口渴米菇互動多媒體
        li
            span 網頁設計
            span.who 柚子
        li
            span 網頁程式
            span.who Casa
include ./jade/footer.jade