include ./jade/head.jade
section.work_KV.red.bottomfix
    div.title
        span
        h1 蜜體女孩30DAYS完美計畫
        h2 紅神孅活動網站
        //- a.url(href='http://cyz.ninja/cookpower/', target='_blank' onclick="bga('紅神孅/外連')") view site
article
    span.article_hr
    div.color
        h5 Background colors
        ul
            li
                span.red_bb1
                p #ff56a2
            li
                span.red_bb2
                p #c3204a
            li
                span.red_bb3
                p #f3f3f3
        h5 Text colors
        ul
            li
                span.red_tb1
                p #ff56a2
            li
                span.red_tb2
                p #ffffff
    div.text
        h5 框線、顏色對比強調運動的氛圍
        p
            | 由新立方社群所企劃的蜜體女孩30DAYS完美計畫，以運動為主，企劃和教練一起運動並搭配產品，達到健康瘦身的目的。
    div.img_one
        img(src="images/red_drug/1.jpg", alt="")
    div.img_one
        img(src="images/red_drug/2.jpg", alt="")
    div.img_one
        img(src="images/red_drug/3.jpg", alt="")
    div.img_one
        img(src="images/red_drug/4.jpg", alt="")
    div.img_one
        img(src="images/red_drug/5.jpg", alt="")
    div.img_one
        img(src="images/red_drug/6.jpg", alt="")
    div.img_one
        img(src="images/red_drug/7.jpg", alt="")
    div.img_one
        img(src="images/red_drug/8.jpg", alt="")
    div.img_one
        img(src="images/red_drug/9.jpg", alt="")
    span.article_hr
section.info
    //- a.url(href='http://cyz.ninja/cookpower/', target='_blank' onclick="bga('紅神孅/外連')") demo site
    ul.name_list
        li
            span 客戶
            span.who 新立方社群
        li
            span 製作公司
            span.who 口渴米菇互動多媒體
        li
            span 主視覺設計
            span.who Casa
        li
            span 網頁設計
            span.who 柚子
        li
            span 網頁程式
            span.who 柚子
include ./jade/footer.jade