include ./jade/head.jade
section.work_KV.try
    div.title
        span
        h1 If you are going to try, go all the way.
        h2 TRY&GO襪子品牌
        //- a.url(href='http://cyz.ninja/cookpower/', target='_blank') view site
article
    span.article_hr
    div.logotype
        h5 Logotype
        img(src="images/try_go/logo.png", alt="")
    div.text
        h5 嘗試不一樣的襪子，感受不同的生活情緒
        p
            | 腳是人的最根部，也是站立的基礎，襪子則是腳的第二層皮膚，卻容易被忽略。生活中許多的細節都讓這些細節都有屬於自己的故事，使生活多一些樂趣。
    div.img_one
        img(src="images/try_go/1.jpg", alt="")
    div.img_two
        img.left(src="images/try_go/2.jpg", alt="")
        img.right(src="images/try_go/3.jpg", alt="")
    div.img_left
        img(src="images/try_go/4.jpg", alt="")
        div
            h5 選用帆布束口袋取代包裝，可再利用
            p
                | 不想要包裝是拆開及丟掉，選擇使用帆布束口袋包裝，可在裝其他的小物獲收納使用。
                br
                | 帆布的磅數也選則較厚重的，較為耐用。
    div.text
        h5 網站以手繪方式呈現
        p
            | 網站整體視覺由手繪線條組成，代表襪子的針線及童趣感，上下捲動圖像會有視差，讓網站再多一些互動性
    div.img_two
        img.left(src="images/try_go/5.jpg", alt="")
        img.right(src="images/try_go/6.jpg", alt="")
    div.img_two
        img.left(src="images/try_go/7.jpg", alt="")
        img.right(src="images/try_go/8.jpg", alt="")
    div.img_one
        img(src="images/try_go/9.jpg", alt="")
    span.article_hr
section.info
    //- a.url(href='http://cyz.ninja/cookpower/', target='_blank') demo site
    ul.name_list
        li
            span 襪子設計
            span.who 柚子、Meishin
        li
            span 插畫
            span.who 柚子、Meishin
        li
            span 網頁設計
            span.who 柚子
        li
            span 網頁程式
            span.who 柚子
include ./jade/footer.jade