* {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
img{
    border: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
body{
    position: relative;
    font-family: "source-han-sans-traditional",sans-serif;
    letter-spacing: 1px;
    font-weight: normal;
}

/*-----------------------------------------------------------*/

header {
    position: relative;
    z-index: 2;
    top: 0;
    background: #fff;
    width: 100%;
    height: 50px;
    -webkit-box-shadow: -1px 5px 25px -1px rgba(158,176,41,1);
    -moz-box-shadow: -1px 5px 25px -1px rgba(158,176,41,1);
    box-shadow: -1px 5px 25px -1px rgba(158,176,41,1);
    overflow: hidden;
}
header.info{
    -webkit-box-shadow: -1px 5px 25px -1px rgba(221,221,221,0.7);
    -moz-box-shadow: -1px 5px 25px -1px rgba(221,221,221,0.7);
    box-shadow: -1px 5px 25px -1px rgba(221,221,221,0.7);
}
header  a > img{
    width: 85px;
    display: block;
    margin: 0 auto;
    margin-top: 12px;
}
.KV{
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 355px;
    background: #c5dd36;
}
.index_hr, .article_hr{
    max-width: 1000px;
    display: block;
    border: 0;
    border-top: 1px solid #dbdbdb;
    margin: 60px auto;
}
.article_hr{
    margin-top: 20px;
}
/*---footer---*/
footer{
    height: 70px;
    background: #ddd;
    text-align: center;
}
footer > p{
    line-height: 70px;
    font-size: 12px;
    letter-spacing: 3px;
    margin: 0;
}
footer .gotop > img{
    width: 34px;
    position: absolute;
    bottom: 100px;
    right: 0;
}
footer .gotop{
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
}
@media screen and (max-width: 840px) and (min-width: 640px){
    footer .gotop > img{
        right: 20px;
    }
}
@media screen and (max-width: 639px) {
    footer .gotop > img{
        right: 20px;
    }
}
/*---section---*/
.work, .life{
        height: auto;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        max-width: 1000px;
        margin-bottom: 50px;
    }
.work{
    margin-top: 305px;
}
.work > h1, .life > h1{
        font-size: 30px;
        padding-top: 50px;
        letter-spacing: 2px;
    }
.work > h2, .life > h2{
        font-size: 15px;
        margin-top: -20px;
        letter-spacing: 2px;
        font-weight: normal;
        margin-bottom: 20px;
    }
/*---work list---*/
.work .work_list{
        text-align: left;
        margin: 0 auto;
    }
.work .work_list li{
    display: block;
    text-align: left;
}
.work .work_list li a h3{
    font-weight: normal;
    font-size: 15px;
    margin-top: 5px;
    color: #000;
}
.work .work_list li a span{
    display: block;
    font-size: 12px;
    color: #787878;
    margin-top: -15px;
}
@media screen and (min-width: 1025px) {
    .work{
        max-width: 1000px;
    }
    .work .work_list{
        display: inline-block;
        overflow: hidden;
    }
    .work_list li a > img{
        width: 290px;
    }
    .work_list li{
        display: block;
        width: 290px;
        float: left;
        margin: 10px 20px;
    }
}
@media screen and (min-width: 640px) and (max-width: 1023px) {
    .work_list{
        display: inline-block;
        overflow: hidden;
        max-width: 850px;
    }
    .work_list li{
        display: block;
        width: 250px;
        float: left;
        margin: 10px 15px;
    }
    .work_list li a > img{
        width: 250px;
    }
}
@media screen and (max-width: 840px) and (min-width: 640px){
    .work_list{
        text-align: center;
        margin: 0 20px;
    }
    .work_list li a > img{
        width: 100%;
    }
    .work_list li{
        margin-bottom: 30px;
        float: none;
        width: 100%;

    }
}
@media screen and (max-width: 639px) {
    .work .work_list{
        text-align: center;
        margin: 0 20px;
    }
    .work .work_list li a > img{
        width: 100%;
    }
    .work .work_list li{
        margin-bottom: 30px;
        float: none;
        width: 100%;
    }
}
/*---life---*/
.life > iframe
{
    margin-bottom: 50px;
}
/*-----------------------------work內頁------------------------------*/
.work_KV{
    position: absolute;
    z-index: 1;
    top: 50;
    width: 100%;
    height: 480px;
    background: url(../images/ctbc_antidrug/top_img.jpg)center center;
    background-size: cover;
}
.work_KV .title{
    position: absolute;
    z-index: 3;
    top: 400px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    background: rgba(255,255,255,0.9);
    text-align: center;
}
.work_KV .title > span{
    display: block;
    background: #c5dd36;
    border: 3px solid #c5dd36;
    width: 36px;
    margin: 0 auto;
    margin-top: 40px;
}
.work_KV .title > h1{
    font-weight: normal;
    letter-spacing: 2px;
}
.work_KV .title > h2{
    font-weight: normal;
    letter-spacing: 2px;
}
.url{
    display: block;
    background: #c5dd36;
    line-height: 35px;
    color: #000;
    height: 35px;
    font-size: 17px;
}
.url:hover{
    background: #dddddd;
}
.work_KV .title > a{
    width: 147px;
    margin: 0 auto;
    margin-top: 50px;
}
@media screen and (min-width: 1024px){
    .work_KV .title{
        width: 650px;
        height: 210px;
    }
    .work_KV .title > h1{
        font-size: 28px;
    }
    .work_KV .title > h2{
        font-size: 20px;
        margin-top: -10px;
    }   
}
@media screen and (min-width: 640px) and (max-width: 1023px){
    .work_KV .title{
        width: 500px;
        height: 210px;
    }
    .work_KV .title > h1{
        font-size: 20px;
    }
    .work_KV .title > h2{
        font-size: 18px;
        margin-top: -10px;
    } 
}
@media screen and (max-width: 639px) {
    .work_KV .title{
        width: 100%;
        height: 150px;
    }
    .work_KV .title > h1{
        font-size: 20px;
    }
    .work_KV .title > h2{
        font-size: 18px;
        margin-top: -10px;
    } 
}
/*---article---*/
article{
    height: auto;
    margin: 0 auto;
    margin-top: 690px;
}
article .img_left, article .img_one, article .text, article .img_two{
    margin-bottom: 50px;
}
article .img_left{
    overflow: hidden;
}
article .img_left > img, article .img_two > img{
    width: 450px;
    float: left;
}
article .img_left > div > h5, article .text > h5{
    font-size: 17px;
    font-weight: normal;
}
article .img_left > div > p, article .text > p{
    font-size: 15px;
    line-height: 1.5;
    color: #8b8b8b;
}
article .img_one > img{
    max-width: 1000px;
    width: 100%;
}
article .img_two{
    overflow: hidden;
}
article .img_two .left{
    width: 450px;
    float: left;
}
article .img_two .right{
    width: 450px;
    float: right;
}
@media screen and (min-width: 1024px){
    article{
        max-width: 1000px;
    }
    article .img_left > img{
        width: 450px;
        float: left;
    }
    article .img_left > div{
        float: right;
        max-width: 500px;
    }
}
@media screen and (min-width: 640px) and (max-width: 1023px){
    article{
        max-width: 800px;
    }
    article .img_left > img{
        width: 300px;
        float: left;
    }
    article .img_left > div{
        float: right;
        max-width: 340px;
    }
    article .img_two .left, article .img_two .right{
        max-width: 300px;
    }
}
@media screen and (max-width: 639px) {
    article{
        max-width: 500px;
    }
    article .img_left > img{
        width: 100%;
        float: none;
    }
    article .img_left > div, article .text{
        float: none;
        max-width: 500px;
        margin: 0 20px;
    }
    article .img_two .left, article .img_two .right{
        width: 100%;
    }
    article .img_two .left{
        margin-bottom: 50px;
    }
}
/*-----------------------------info------------------------------*/
section.info{
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 50px;
}
section.info > a{
    display: inline-block;
    padding: 0 20px;
}
section.info .name_list{
    margin-top: 15px;
}
section.info .name_list li span{
    display: inline-block;
    margin: 0 10px 10px 0;
}
section.info .name_list li .who{
    color: #8b8b8b;
}
@media screen and (min-width: 640px) and (max-width: 1023px){
    section.info{
        max-width: 800px;
    }
}
@media screen and (max-width: 639px) {
    section.info{
        margin-left: 20px;
    }
}




