* {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
img{
    border: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
body{
    position: relative;
    font-family: "source-han-sans-traditional",sans-serif;
    letter-spacing: 1px;
    font-weight: normal;
}
h5{
    margin: 0;
}
/*-----------------------------------------------------------*/
/*---nav---*/
.nav_height_open{
    height: 100%;
}
.nav_height_close{
    height: auto;
}
body.open{
    overflow: visible;
}
body.close{
    overflow: hidden;
}
nav{
    position: fixed;
    text-align: center;
    z-index: 2;
    right: 0;
    top: 0;
    width: 50%;
    max-width: 300px;
    height: 100%;
    background: rgba(158,176,41,0.9);
}
.slide_menu{
    display: none;
}
.open_menu{
    display: block;
}
nav ul{
    margin-top: 80px;
    display: inline-block;
}
nav ul li{
    margin-top: 20px;
}
nav ul li a{
    color: #fff;
    font-size: 17px;
}
nav ul li a:hover{
    font-size: 20px;
    text-decoration: underline;
}
nav ul li a i{
    display: block;
    margin-left: 10px;
}
@media screen and (max-width: 639px) {
    nav{
        width: 100%;
        max-width: none;
    }
}
/*---header---*/
header {
    position: relative;
    z-index: 2;
    top: 0;
    background: #fff;
    width: 100%;
    height: 50px;
    -webkit-box-shadow: -1px 5px 25px -1px rgba(100,100,100,0.7);
    -moz-box-shadow: -1px 5px 25px -1px rgba(100,100,100,0.7);
    box-shadow: -1px 5px 25px -1px rgba(100,100,100,0.7);
    overflow: hidden;
    position: fixed;
}
header  a {
    width: 79px;
    display: block;
    margin: 0 auto;
}
header  a > img{
    width: 79px;
    display: block;
    margin-top: 12px;
}
header .nav{
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    width: 60px;
    height: 50px;
}
header .nav i{
    color: #c5dd36;
    font-size: 35px;
}
header .nav:hover i{
    color: #fff;
}
header .nav:hover{
    background: #c5dd36;
}
header .nav i:before{
    display: block;
    margin: 10px 0 0 15px;
}
.fa-ellipsis-v:before{
    display: block;
    padding-left: 12px;
}
header .mail{
    color: #c5dd36;
    width: 60px;
    height: 50px;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 25px;
}
header .mail i{
    margin: 12px 0 0 15px;
}
header .mail:hover{
    background: #c5dd36;
    color: #fff;
}
/*---KV---*/
.KV{
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 355px;
    background: #c5dd36;
    margin-top: -310px;
}
.KV > img{
    width: 200px;
    display: block;
    margin: 0 auto;
    margin-top: 90px;
}
.KV .infobox{
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
}
.KV .infobox .info{
    position: absolute;
    right: 25%;
    top: -160px;
}
.KV .infobox .info > img{
    width: 85px;
    display: block;
}
.KV .infobox .info div{
    margin-top: 20px;
}
.KV .infobox .info  div > a{
    display: block;
    color: #000;
    font-size: 15px;
}
.KV .infobox .info  div > a:hover{
    color: #dbdbdb;
}
.KV .infobox .info div > a i{
    display: block;
    margin: 0 20px 15px 0;
}
.KV .infobox .info a .fa:before{
    margin-right: 8px;
}
.index_hr, .article_hr{
    max-width: 1000px;
    display: block;
    border: 0;
    border-top: 1px solid #dbdbdb;
    margin: 60px auto;
}
.article_hr{
    margin-top: 60px;
}
/*---footer---*/
footer{
    height: 70px;
    background: #ddd;
    text-align: center;
}
footer > p{
    line-height: 70px;
    font-size: 12px;
    letter-spacing: 3px;
    margin: 0;
}
footer .gotop > img{
    width: 34px;
    position: absolute;
    bottom: 100px;
    right: 0;
}
footer .gotop > img:hover{
    bottom: 120px;
}
footer .gotop{
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    cursor: pointer;
}
@media screen and (max-width: 840px) and (min-width: 640px){
    footer .gotop > img{
        right: 20px;
    }
}
@media screen and (max-width: 639px) {
    footer .gotop > img{
        right: 20px;
    }
}
/*---section---*/
.work, .life{
        height: auto;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        max-width: 1000px;
        margin-bottom: 50px;
    }
.work{
    margin-top: 305px;
    overflow: hidden;
}
.work > h1, .life > h1{
        font-size: 30px;
        padding-top: 50px;
        letter-spacing: 2px;
    }
.work > h2, .life > h2{
        font-size: 15px;
        margin-top: -20px;
        letter-spacing: 2px;
        font-weight: normal;
        margin-bottom: 20px;
    }
/*---work list---*/
.work .work_list{
        text-align: left;
        margin: 0 auto;
    }
.work .work_list li{
    display: block;
    text-align: left;
}
.work .work_list li a h3{
    font-weight: normal;
    font-size: 15px;
    margin-top: 5px;
    color: #000;
}
.work .work_list li a span{
    display: block;
    font-size: 12px;
    color: #787878;
    margin-top: -15px;
}
@media screen and (min-width: 1025px) {
    .work{
        max-width: 1000px;
    }
    .work .work_list{
        display: inline-block;
        overflow: hidden;
    }
    .work_list li a > img{
        width: 290px;
    }
    .work_list li{
        display: block;
        width: 290px;
        float: left;
        margin: 20px 20px;
    }
}
@media screen and (min-width: 640px) and (max-width: 1023px) {
    .work_list{
        display: inline-block;
        overflow: hidden;
        max-width: 850px;
    }
    .work_list li{
        display: block;
        width: 250px;
        float: left;
        margin: 10px 15px;
    }
    .work_list li a > img{
        width: 250px;
    }
}
@media screen and (max-width: 840px) and (min-width: 640px){
    .work_list{
        text-align: center;
        margin: 0 20px;
    }
    .work_list li a > img{
        width: 100%;
    }
    .work_list li{
        margin-bottom: 30px;
        float: none;
        width: 100%;

    }
}
@media screen and (max-width: 639px) {
    .work .work_list{
        text-align: center;
        margin: 0 20px;
    }
    .work .work_list li a > img{
        width: 100%;
    }
    .work .work_list li{
        margin-bottom: 30px;
        float: none;
        width: 100%;
    }
}
/*---life---*/
.life > iframe
{
    margin-bottom: 50px;
}
/*-----------------------------work內頁------------------------------*/
.work_KV{
    position: absolute;
    z-index: 1;
    top: 50px;
    width: 100%;
    height: 480px;
}
.ctbc, .eat, .choice, .owlpass, .checiao, .try{
    margin-top: -690px;
}
.ctbc{
    background: url(../images/ctbc_antidrug/top_img.jpg)center center no-repeat;
    background-size: cover;
}
.eat{
    background: url(../images/eat_girl/top_img.jpg)center center no-repeat;
    background-size: cover;
}
.choice{
    background: url(../images/choice/top_img.jpg)center center no-repeat;
    background-size: cover;
}
.owlpass{
    background: url(../images/owlpass/top_img.jpg)center center no-repeat;
    background-size: cover;
}
.checiao{
    background: url(../images/checiao/top_img.jpg)center center no-repeat;
    background-size: cover;
}
.try{
    background: url(../images/try_go/top_img.jpg)center center no-repeat;
    background-size: cover;
}
.work_KV .title{
    position: absolute;
    z-index: 3;
    top: 400px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    background: rgba(255,255,255,0.9);
    text-align: center;
}
.work_KV .title > span{
    display: block;
    background: #c5dd36;
    border: 3px solid #c5dd36;
    width: 36px;
    margin: 0 auto;
    margin-top: 40px;
}
.work_KV .title > h1{
    font-weight: normal;
    letter-spacing: 2px;
    margin-bottom: 25px;
}
.work_KV .title > h2{
    font-weight: normal;
    letter-spacing: 2px;
}
.url{
    display: block;
    background: #c5dd36;
    line-height: 35px;
    color: #000;
    height: 35px;
    font-size: 17px;
}
.url:hover{
    background: #dddddd;
}
.work_KV .title > a{
    width: 147px;
    margin: 0 auto;
    margin-top: 50px;
}
@media screen and (min-width: 1024px){
    .work_KV .title{
        width: 650px;
        height: 210px;
    }
    .work_KV .title > h1{
        font-size: 28px;
    }
    .work_KV .title > h2{
        font-size: 20px;
        margin-top: -10px;
    }   
}
@media screen and (min-width: 640px) and (max-width: 1023px){
    .work_KV .title{
        width: 500px;
        height: 210px;
    }
    .work_KV .title > h1{
        font-size: 20px;
    }
    .work_KV .title > h2{
        font-size: 18px;
        margin-top: -10px;
    } 
}
@media screen and (max-width: 639px) {
    .work_KV .title{
        width: 100%;
        height: 150px;
    }
    .work_KV .title > h1{
        font-size: 20px;
    }
    .work_KV .title > h2{
        font-size: 18px;
        margin-top: -10px;
    } 
}
/*---article---*/
article{
    height: auto;
    margin: 0 auto;
    margin-top: 690px;
    overflow: hidden;
}
.about{
    margin-top: 0;
}
article .img_left, article .img_one, article .text, article .img_two{
    margin-bottom: 50px;
}
article .img_left{
    overflow: hidden;
}
article .img_left > img, article .img_two > img{
    width: 450px;
    float: left;
}
article .img_left > div > h5, article .text > h5{
    font-size: 17px;
    font-weight: normal;
}
article .img_left > div > p, article .text > p{
    font-size: 15px;
    line-height: 1.8;
    color: #8b8b8b;
}
article .img_one > img{
    max-width: 1000px;
    width: 100%;
}
article .img_two{
    overflow: hidden;
}
article .img_two .left{
    width: 450px;
    float: left;
}
article .img_two .right{
    width: 450px;
    float: right;
}
article .logotype > img{
    display: block;
    margin: 0 auto;
    max-width: 530px;
    width: 100%;
    margin-bottom: 20px;
}
@media screen and (min-width: 1024px){
    article{
        max-width: 1000px;
    }
    article .img_left > img{
        width: 450px;
        float: left;
    }
    article .img_left > div{
        float: right;
        max-width: 500px;
    }
}
article .color > h5{
    font-size: 15px;
    margin: 10px 0;
}
article .color > ul{
    overflow: hidden;
    margin-bottom: 50px;
}
article .color > ul li{
    display: block;
    float: left;
    overflow: hidden;
    height: 35px;
    margin: 0 20px 20px 0;
}
article .color > ul li span,article .color > ul li p{
    float: left;
    margin: 0;
}
article .color > ul li p{
    line-height: 30px;
}
article .color > ul li span{
    display: block;
    margin-right: 15px;
    width: 30px;
    height: 30px;
    -webkit-box-shadow: 4px 4px 2px 0px rgba(219,219,219,1);
    -moz-box-shadow: 4px 4px 2px 0px rgba(219,219,219,1);
    box-shadow: 4px 4px 2px 0px rgba(219,219,219,1);
}
@media screen and (max-width: 639px) {
    article .color{
        margin-left: 20px;
    }
}
/*------colors------*/
/*---吃貨女子---*/
.eat_bb1{
    background: #9d0505;
}
.eat_bb2{
    background: #fbdf00;
}
.eat_bb3{
    background: #fbf5df;
}
.eat_bb4{
    background: #fff;
}
.eat_tb1{
    background: #440d0d;
}
.eat_tb2{
    background: #9d0505;
}
/*---雲端男友---*/
.owl_bb1{
    background: #eeeeee;
}
.owl_bb2{
    background: #00a9be;
}
.owl_bb3{
    background: #ffdb49;
}
.owl_bb4{
    background: #fff;
}
.owl_tb1{
    background: #343434;
}
.owl_tb2{
    background: #474747;
}
/*---checiao---*/

.chec_bb1{
    background: #164361;
}
.chec_bb2{
    background: #f3f2e8;
}
.chec_bb3{
    background: #2fa4b1;
}
.chec_bb4{
    background: #fff;
}
.chec_tb1{
    background: #164361;
}
.chec_tb2{
    background: #2fa4b1;
}
.chec_tb3{
    background: #f8882b;
}
@media screen and (min-width: 640px) and (max-width: 1023px){
    article{
        max-width: 800px;
    }
    article .img_left > img{
        width: 300px;
        float: left;
    }
    article .img_left > div{
        float: right;
        max-width: 340px;
    }
    article .img_two .left, article .img_two .right{
        max-width: 300px;
    }
}
@media screen and (max-width: 639px) {
    article{
        max-width: 500px;
    }
    article .img_left > img{
        width: 100%;
        float: none;
    }
    article .img_left > div, article .text{
        float: none;
        max-width: 500px;
        margin: 0 20px;
    }
    article .img_two .left, article .img_two .right{
        width: 100%;
    }
    article .img_two .left{
        margin-bottom: 50px;
    }
    article .img_left, article .img_one, article .text, article .img_two{
    margin-bottom: 60px;
}
}
/*-----------------------------info------------------------------*/
section.info{
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 50px;
}
section.info > a{
    display: inline-block;
    padding: 0 20px;
}
section.info .name_list{
    margin-top: 15px;
}
section.info .name_list li span{
    display: inline-block;
    margin: 0 10px 10px 0;
}
section.info .name_list li .who{
    color: #8b8b8b;
}
@media screen and (min-width: 640px) and (max-width: 1023px){
    section.info{
        max-width: 800px;
    }
}
@media screen and (max-width: 639px) {
    section.info{
        margin-left: 20px;
    }
}




